.ItemList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin: 35px;
}

.ItemList .ItemLink {
  transition: 3s;
  height: fit-content;
}

.ItemList .ItemLink .MuiPaper-root:hover {
  opacity: 80%;
  width: 99%;
}

.ItemLink {
  text-decoration: none;
}
