.itemCard {
  width: 300px;
  height: max-content;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.itemCard:hover {
  transform: scale(1.1);
}

.mi-notificacion {
  color: white;
  border-radius: 50px;
}

.mi-notificacion .swal-title {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 8px;
}

.mi-notificacion .swal-icon {
  align-items: center;
}
