.NavBar {
  display: flex;
  box-sizing: border-box;
  border: 25px black;
}

.NavBar ul {
  width: 100%;
  justify-content: space-around;
  text-decoration: none;
  display: flex;
  list-style: none;
  padding: 0px;
  align-items: center;
}

.link {
  align-content: center;
}

.link:hover {
  opacity: 50%;
}

.link div {
  text-decoration: none !important;
}

.link div p {
  color: black;
  margin: 0 auto;
  padding: 0px;
  text-decoration: none !important;
}

.link img {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: 50px;
}

.logo {
  background-color: white;
}

.ShopNavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 25px;
}

.ShopNavBar p {
  margin: 0;
  align-content: center;
  justify-content: center;
  width: 75%;
}
