.App {
  margin: 0 auto;
  box-sizing: border-box;
}

.body {
  background-image: url("./fondo\ fungi\ -\ opaco.jpg");
  width: 100vw;
  height: 100vh;
  justify-items: center;
}

.itemListContainer {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  flex-wrap: wrap;
  margin: 20px;
}
